body{
    background-color: #e6f0fa;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 40px;
}

.hero {
  background-color: #a84be4;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 2.5em;
}

.highlight {
  color: #ffd700;
}

.hero p {
  margin: 10px 0;
}

.subtext {
  color: #eee;
}

.grid {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.row1 .card.large {
  flex: 1;
}

.row2 .card.small {
  flex: 1;
}

.card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0,0,1,0.2);

}

.card img {
  width: 100%;
  height: auto;
}

.card .content {
  padding: 15px;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 1.1em;
}

.card p {
  color: #d97;
  margin: 0;
}

