body{
        background-color: #e6f0fa;
    }
    .episode-section {
        padding: 40px;
        color: white;
    }

    .video-container {
        max-width: 800px;
        margin: 0 auto 20px;
    }

    .video-container iframe {
        width: 100%;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    h2, h1 {
        text-align: right;
        color:black;
        margin-top: 5px;
        font-size: 30px;
        margin-bottom: 20px;
        font-family: rubik, Arial, sans-serif;
    }

    .episodes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin-top: 20px;
        direction: RTL;
    }

    .episode-card {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s;
    }

    .episode-card:hover {
        transform: scale(1.05);
    }

    .episode-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        transition: opacity 0.4s ease-in-out;
    }

    .episode-card img[loading="lazy"] {
        opacity: 1;
    }

    .episode-card h3 {
        color: black;
        margin: 10px;
        font-size: 18px;
        text-decoration: none;  
    }

    p{
        color: black;
        font-family: rubik, Arial, sans-serif;
        font-size: large;
    }
    